@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --primary: 226 70% 55.5%;
  --primary-foreground: 226 100% 97%;

  --highlight: 45 100% 64%;
  --highlight-foreground: 38 92% 38%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* 添加平滑滚动效果 */
html {
  scroll-behavior: smooth;
}

/* 添加对链接的样式 */
a {
  color: hsl(var(--primary));
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: hsl(var(--primary) / 0.8);
}
